version: '3.8'

services:
  pdf-manager:
    image: fares043/pdf-managerihk:1.0
    ports:
      - "8086:8080"
    volumes:
      - ./data:/app/data
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection=Data Source=/app/data/pdfmanager.db
      - LobsterApi__BaseUrl=http://pdlobapp99/dw/Request/
      - LobsterApi__SubmitEndpoint=/api/documents/upload
      - LobsterApi__ApiKey=
      - IncomingApi__DockerEndpoint=http://FRDTESTLXSRV:8086/api/documents/receive
      - PdfPlumber__Enabled=true
      - PdfPlumber__PythonPath=python3
      - PdfPlumber__ScriptPath=/app/Python/processor.py
    restart: unless-stopped
